<div id="account" class="data-container">

    <div class="page-title">결제정보</div>

    <div class="info">
        <button class="add">추가</button>
    </div>

    <table class="data-table">
        <thead>
        <tr>
            <th>날짜</th>
            <th>결제종류</th>
            <th>금액</th>
            <th>메모</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr class="modify">
            <td class="dropdown">
                <input class="form-control" name="date" data-type="date" data-toggle="dropdown">
                <div class="dropdown-menu date-table"></div>
            </td>
            <td>
                <input type="radio" class="check-btn" value="0" name="account_type" data-type="number" id="account_type1" checked>
                <label for="account_type1">카드</label>
                <input type="radio" class="check-btn" value="1" name="account_type" data-type="number" id="account_type2">
                <label for="account_type2">현금</label>
                <input type="radio" class="check-btn" value="2" name="account_type" data-type="number" id="account_type3">
                <label for="account_type3">기타</label>
            </td>
            <td>
                <input class="form-control" name="money">
            </td>
            <td>
                <input class="form-control" name="memo">
            </td>
            <td class="ctrl">
                <span class="confirm" data-event="confirm">확인</span>
                <span class="cancel" data-event="cancel">취소</span>
            </td>
        </tr>
        <tr class="list">
            <td data-name="date" data-type="date:yyyy-MM-dd(E)"></td>
            <td data-name="$type"></td>
            <td data-name="money" data-type="number"></td>
            <td data-name="memo"></td>
            <td class="ctrl">
                <span class="modify" data-event="modify">수정</span>
                <span class="delete" data-event="remove">삭제</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>