<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>로또</title>

    <!--<link rel="stylesheet" href="/dist/util/lotto.css">-->
    <link rel="stylesheet" href="/dist/util/lotto.css">

</head>
<body>




<div id="nums">
    <input id="num-1">
    <input id="num-2">
    <input id="num-3">
    <input id="num-4">
    <input id="num-5">
    <input id="num-6">
</div>

<div id="test"></div>

<div class="list">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>회차</th>
            <th>날짜</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>bonus</th>
        </tr>
        </thead>
        <tbody id="list"></tbody>
    </table>
</div>

<script src="/dist/util/lotto.js"></script>
</body>
</html>