<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>헤베계산</title>

    <link rel="stylesheet" href="/dist/util/m3.css">
    <script src="/dist/util/m3.js"></script>

    <script id="unit-template" type="text/html">
        <div class="unit">
            <div class="form-row">
                <div class="col-2">
                    <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">단가</span>
                </span>
                        <input class="price form-control" data-regexp="num" value="7000">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">사이즈</span>
                </span>
                        <input class="size form-control" data-regexp="size">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">수량</span>
                </span>
                        <input class="count form-control" data-regexp="num" value="1">
                    </div>
                </div>
                <div class="col-2">
                    <div class="remove">삭제</div>
                </div>
            </div>
        </div>
    </script>

    <script id="result-template" type="text/html">
        <div class="values">
            <p class="unit">
                <b>{{count}}</b>
            </p>
            <p class="price">
                <b>{{price}}<i>원</i></b>
            </p>
        </div>
    </script>
</head>
<body>


<div id="add">추가</div>

<div id="result"><div class="values">
    <p class="unit">
        <b>0</b>
    </p>
    <p class="price">
        <b>0<i>원</i></b>
    </p>
</div></div>

<div id="values"></div>

</body>
</html>