<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Hancomee Work v4</title>

    <script src="/lib/js/es6-promise.js"></script>
    <script src="/dist/hancomee/main.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/dist/hancomee/main.css">


</head>
<body>


<aside>
    <ul class="menu">
        <li>
            <a href="#main">
                <i class="material-icons">account_balance</i>
                main
            </a>
        </li>
        <li>
            <a href="#list">
                <i class="material-icons">reorder</i>
                list
            </a>
        </li>
        <li>
            <a href="#calendar">
                <i class="material-icons">reorder</i>
                calendar
            </a>
        </li>
    </ul>
</aside>

<nav></nav>


<main>

</main>


</body>
</html>