<div id="intro">

    <div class="container-fluid screen">
        <div class="row">
            <div class="col-md-6 col-sm-12 text">
                <p class="h2 title"><strong>Ultimate Audio Accessory</strong></p>
                <p class="slide-down h4">Boosteel offers a variety of solutions to bring out the<br/>
                    inherent performance of hi-fi equipment.</p>
                <p class="slide-down">
                    Modern hi-fi equipment with extreme performance is now entering the realm of ultra-precision devices
                    beyond simple electronics.
                    These devices are more sensitive to ambient conditions and require a higher level of user
                    experience.
                    Therefore, even with the same equipment, there is a big difference in performance depending on the
                    user's ability to install.
                    Boosteel offers a variety of solutions to bring out the inherent performance of hi-fi equipment.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 screen-img intro-img">
                <img src="/img/boosteel/img1.png">
            </div>
        </div>
    </div>

    <div class="container b-explain">
        <div class="row">
            <div class="col-md-6 col-sm-12 headline">
                <span class="boost">Boost<i>Boost the HI-FI</i></span>
                <span class="steel">Steel<i>Accessory by Steel</i></span>
            </div>
            <div class="col-md-6 col-sm-12 explain">
                Modern hi-fi equipment with extreme performance is now entering the realm of ultra-precision devices
                beyond simple electronics.
                These devices are more sensitive to ambient conditions and require a higher level of user
                experience.
                Therefore, even with the same equipment, there is a big difference in performance depending on the
                user's ability to install.
                Boosteel offers a variety of solutions to bring out the inherent performance of hi-fi equipment.
            </div>
        </div>
    </div>
</div>