@import "../../../node_modules/bootstrap/scss/bootstrap";

$navbar-height: 50px;
$aside-width: 260px;
$media-header-thumb-height: 30px;
$media-header-height: 46px;

/*.material-icons {
  vertical-align: middle;
}*/



body {

  overflow: {
    y: scroll;
    x: hidden;
  }
  padding: {
    left: $aside-width;
    top: $navbar-height;
  }

  color: #888888;

  background: {
    color: #262626;
  }

  &.loading {
    opacity: .15;
  }
}

nav {
  border-bottom: 1px solid #383838 !important;

  > .brand {
    display: block;
    width: $aside-width;
  }
  > .control-box {
    width: 100%;
  }
}

.media-container {

  // ① 공통
  .media-header {
    > * {
      float: left;
      vertical-align: middle;
    }
  }


  // ② 썸네일 상황
 .media-thumbnail & {
    .media-header {
      height: $media-header-thumb-height;
    }
  }
}

screen {

  position: fixed;
  z-index: 1041;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background: {
    color: #131313;
  }

  .count {
    display: none;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #909090;
    color: white;
    opacity: .5;
  }

  &.on {
    z-index: 1041;
    .count {
      display: block;
    }
  }

  // ③ 전체화면
  .media-header, .media-body {
    position: absolute;
    left: 0;
    right: 0;
  }
  .media-header {
    display: flex;
    align-items: center;
    top: 0px;
    height: $media-header-height;

    a {
      color: #568daf;
    }
  }
  .media-body {
    top: $media-header-height;
    bottom: 0;
  }
}

aside {
  overflow: auto;
  position: fixed;
  left: 0;
  top: $navbar-height;
  bottom: 0;
  width: $aside-width;
  z-index: 1040;
  background-color: #181818;
  border-right: 1px solid black;

  .tree {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: {
        left: 15px;
      }
      > i {
        position: absolute;
        margin: {
          left: -25px;
          top: 2px;
        }
        cursor: pointer;
      }
      > a {
        color: #999;
        text-decoration: none;
      }
      > ul {
        display: none;
      }
      &.open {
        > i {
          transform: rotate(90deg);
        }
        > a {
          color: #ddd;
        }
        > ul {
          display: block;
        }
      }
      &.empty {
        > i, > ul {
          display: none;
        }
      }
      &.active {
        > a {
          color: #fdb223;
        }
      }
    }
  }

  > .tree {
    margin-left: 20px;
  }

}

nav {

  body > &.navbar {

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1041;

    height: $navbar-height;

    border: {
      bottom: 1px solid #151515;
    }
    background: {
      color: #181818;
    }

    color: #8e8e8e;
  }
}

.media-container {

  // 공통
  [data-media-action] {
    cursor: pointer;
  }

  .media-header {
    position: relative;

    .rotate {
      position: absolute;
      top: 0;
      right: 10px;
    }
  }

  .media-body {
    > * {
      position: relative;
    }
  }

  // ************ 썸네일 버전 ************* //
  .media-thumbnail & {

    [no-thumb] {
      display: none;
    }

    margin-top: 15px;
    background: {
      color: #2d2c2c;
    }

    .media-body {
      height: 250px;
    }
  }
}
