@import "browser";


.favorite {

  font-size: 0;
  > span {

    color: #eab63b;
    cursor: pointer;
    line-height: .5;

    &:active {
      color: white !important;
    }
    &:hover {
      color: #a5a5a5 !important;
    }
  }

  &[data-favorite="0"] {
    span {
      color: #656565;
    }
  }
  @each $i in (1, 2, 3, 4, 5) {
    &[data-favorite="#{$i}"] {
      .favorite-#{$i} ~ span {
        color: #656565;
      }
    }
  }

  nav & {
    > span {
      font-size: 30px;
      line-height: 1;
    }
  }

  .media-thumbnail & {
    > span {
      font-size: 18px;
    }
  }
}


.media-container {

  .media-header {

    .title-info {
      width: 74%;
      text-align: left;
    }
    .ctrl {
      width: 25%;
      text-align: right;

      [gal-shot].zero {
        background-color: #545454;
      }
    }
  }

  // ************ 썸네일 버전 ************* //
  .media-thumbnail & {

    .title-info {
      display: none;
    }

    .ctrl {
      width: 100%;
      text-align: left;
    }
  }

}

.gal-pager {

  padding: 8px;
  width: auto;
  min-width: auto;
  float: none;

  .prev, .next, .link {
    cursor: pointer;
    color: #333;
    &:hover {
      color: #111;
    }
  }

  > div {
    padding: 5px;
    text-align: center;

    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }

  table {

    table-layout: fixed;

    td {
      padding: 0;
      vertical-align: middle;
      text-align: center;

      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      > span {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      &:first-child {
        border-left: 1px solid #ddd;
      }

      &.current {
        color: #0056b3;
        font-weight: bold;
      }
    }

    tr:first-child {
      td {
        border-top: 1px solid #ddd;
      }
    }
  }

  .disabled {
    color: #ddd;
  }
}

screen {

  .media-container {
    .media-header {
      .ctrl {
        .favorite {
          > span {
            font-size: 24px;
          }
        }
      }
    }
  }
}
