@import "../../../node_modules/bootstrap/scss/bootstrap";

body {

  padding-top: 50px;
  background-color: #333;
}

nav {

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1041;

  padding: 0 25px;

  background-color: #222;

  .only-good {
    margin: {
      top: -7px;
      left: 15px;
    }
    color: #777 !important;
    font-size: 26px;
    cursor: pointer;

    &.active {
      color: orange !important;
    }
  }

  .count {
    float: right;
    font-size: 26px;
    color: #999;
  }
}

.list {
  position: relative;
  margin-top: 15px;
  background-color: #222;

  .index {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 9px;
    background-color: white;
    opacity: .3;
    color: black;
  }

  &:hover {
    .index {
      display: none;
    }
  }

  .thumb {
    display: block;
    height: 350px;

    background: {
      repeat: no-repeat;
      size: contain;
      position: center;
    }

    &:hover .title {
      opacity: .9 !important;
    }

    &:hover {
      outline: 1px solid #ddd;
    }

    .image, .title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .image {
      bottom: 0;
    }

    .title {
      padding: 5px 35px 5px 5px;

      font-size: 14px;
      color: #ddd;
      background-color: black;
      opacity: 0;
      transition: .3s ease opacity;

      text-decoration: none !important;
      font-style: normal;

      &[data-value="1"] + .good {
        display: block !important;
      }

      &:hover {
        color: white;
      }
    }
  }

  .good {

    display: none;
    position: absolute;
    top: -3px;
    right: 5px;
    color: #eee;
    font-size: 22px;

    cursor: pointer;
    text-shadow: 1px 1px 5px black;

    &[data-value="1"] {
      color: orange;
    }
  }
}

.pager {

  padding: 8px;
  width: auto;
  min-width: auto;
  float: none;

  .prev, .next, .link {
    cursor: pointer;
    color: #333;
    &:hover {
      color: #111;
    }
  }

  > div {
    padding: 5px;
    text-align: center;

    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }

  table {

    table-layout: fixed;

    td {
      padding: 0;
      vertical-align: middle;
      text-align: center;

      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      > span {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      &:first-child {
        border-left: 1px solid #ddd;
      }

      &.current {
        color: #0056b3;
        font-weight: bold;
      }
    }

    tr:first-child {
      td {
        border-top: 1px solid #ddd;
      }
    }
  }

  .disabled {
    color: #ddd;
  }
}