

* {
  box-sizing: border-box;
}

body {
  padding: 60px 0 0;
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: {
    color: #333;
  }
  z-index: 1041;

  color: #ddd;

  .navi {
    display: inline-block;
  }

  .prev, .next {
    color: #666;

    &[data-nav] {
      color: #ddd;
      cursor: pointer;
      &:hover {
        color: darkorange;
      }
    }
  }

}

main {
  position: relative;
}

.video {
  position: absolute;

  > video {
    position: relative;
  }

  > a, > span {
    display: block;
    width: 100%;
  }
  .thumb {
    height: 250px;
    background: {
      repeat: no-repeat;
      size: contain;
      position: center;
    }
  }
  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    padding: 5px 15px;
    background-color: black;
    opacity: .3;
    color: white;

    a {
      color: #abff2a;
    }

    &:hover {
      opacity: .5;
    }
  }

}


