@import "../../../node_modules/bootstrap/scss/bootstrap";

$navbar-height: 50px;
$aside-width: 260px;

$default-color: #454545;
$b-color: #c1c1c1;

a {
  color: $default-color;
  &:hover {
    text-decoration: none;
    color: #999;
  }
}

body {

  overflow-y: scroll;

  padding: {
    top: $navbar-height;
    left: $aside-width + 10;
    bottom: 100px;
  }

  background: {
    color: #333;
  }
}

.throw-out {
  position: fixed;
  left: -1px;
  width: 0;
  height: 0;
}

nav, aside {
  position: fixed;
  left: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 15px;
  top: 0;
  right: 0;
  z-index: 1042;
  height: $navbar-height;
  background-color: #222;
  border-bottom: 1px solid black;

  color: #999;

  > * {
    margin-left: 15px;
    cursor: pointer;
    &:hover {
      color: #ccc;
    }
  }
  .dropdown {
    margin-right: auto;
  }

  .favorite {
    margin-top: -7px;
    font-size: 24px;
  }
  .pick {
    color: #d4ae66;
    margin: {
      top: -2px;
    }
    font-size: 24px;
    cursor: pointer;
  }
  .count {
    margin-left: 15px;
  }
}

%tree {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    span, i, a {
      color: #777;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: #999;
      }
    }

    > li {
      position: relative;
      padding: {
        left: 15px;
      }
      > i {
        position: absolute;
        left: 1px;
        transform: rotate(0deg);
        transition: .2s ease transform;
        &[data-child="false"] {
          display: none;
        }
      }
      > ul {
        display: none;
      }

      &[data-active="true"] {
        > ul {
          display: block;
        }
        > i {
          transform: rotate(90deg);
        }
        > a {
          color: #eee;
        }
      }
    }
  }
}

aside {
  top: $navbar-height;
  bottom: 0;
  width: $aside-width;
  padding: 10px;
  overflow: auto;
  z-index: 1041;

  background-color: #222;
  border-right: 1px solid black;
  border-top: 1px solid #3a3a3a;
  @extend %tree;

}

#editor {

  display: none;
  margin-top: 150px;

  .vvideo & {
    display: block;
  }

  > div {
    & + div {
      margin: {
        top: 25px;
      }
    }
  }

  input, textarea {
    padding: 15px;
    width: 100%;

    border-radius: 3px;
    border: 1px solid #111;
    background-color: #4c4c4c;
    color: #b3b3b3;

    outline: none !important;

    &.change {
      border-color: #28a79d;
    }
  }

  input {
    height: 50px;
  }

  textarea {
    height: 250px;
  }

  .commit {
    display: none;
    width: 100%;
  }

  &.change {
    .commit {
      display: block;
    }
  }

  .navi {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 5px 12px;
    color: white;
    background-color: #484848;
    opacity: .43;
  }
}

.favorite {

  $color-light: $b-color;
  $color-dark: #555;
  z-index: 1;

  > span {
    float: left;
    cursor: pointer;
    color: $color-light;

    &:active {
      color: white !important;
    }
    &:hover {
      color: $color-light !important;
    }
  }

  [data-favorite="0"] &, &[data-favorite="0"] {
    > span {
      color: $color-dark;
    }
  }

  @each $i in (1, 2, 3, 4, 5) {
    [data-favorite="#{$i}"] &, &[data-favorite="#{$i}"] {
      .favorite-#{$i} ~ span {
        color: $color-dark;
      }
    }
  }
}

.thumb {
  display: block;
  background: {
    repeat: no-repeat;
    size: contain;
    position: center;
  }
}

.vvideo {

  &[data-tag="true"] {
    .tag {
      color: $b-color !important;
    }
  }
  &[data-memo="true"] {
    .memo {
      color: $b-color !important;
    }
  }
  &[data-shot="0"] {
    .shot {
      color: $default-color !important;
    }
  }
  &[data-pick="1"] {
    .pick {
      color: $b-color !important;
    }
  }

  // 썸네일 상황
  &.list {

    margin-top: 25px;

    .editor {
      display: none;
    }

    .content {

      $height: 300px;
      $ctrl-height: 30px;

      background-color: #222;
      height: $height;

      .ctrl {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: $ctrl-height;
        border-bottom: 1px solid #040404;
        background-color: #191919;

        > div {

          font-size: 14px;
          color: #454545;

          & + div {
            margin-left: 10px;
          }

          &.favorite {
            margin: {
              left: auto !important;
            }
          }

          &.shot {
            color: $b-color;
          }
          > b {
            font-weight: normal;
            cursor: pointer;
          }
        }
      }

      .thumb {
        height: $height - $ctrl-height;
      }

      input, textarea {
        display: none;
      }
    }
  }

  &.screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1043;

    max-width: 100%;

    background: {
      color: #222;
    }

    .content {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
    }

    .editor, .thumb {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .thumb {
      left: 0;
      width: 60%;
    }

    .editor {
      right: 0;
      width: 35%;
    }

    .ctrl {

      .play, .favorite {
        position: absolute;
      }

      .play {
        display: block;
        top: -15px;
        right: 0px;

        width: 100px;
        height: 100px;

        text-align: center;
        font-size: 28px;
        line-height: 80px;
        color: #cea137;

        border: 5px solid;
        border-radius: 50%;
      }

      .tag, .memo {
        display: none;
      }
      .favorite {
        font-size: 30px;
        top: 10px;
        right: 120px;
      }
    }
  }
}

.pager {

  padding: 8px;
  width: auto;
  min-width: auto;
  float: none;

  .prev, .next, .link {
    cursor: pointer;
    color: #333;
    &:hover {
      color: #111;
    }
  }

  > div {
    padding: 5px;
    text-align: center;

    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }

  table {

    table-layout: fixed;

    td {
      padding: 0;
      vertical-align: middle;
      text-align: center;

      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      > span {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      &:first-child {
        border-left: 1px solid #ddd;
      }

      &.current {
        color: #0056b3;
        font-weight: bold;
      }
    }

    tr:first-child {
      td {
        border-top: 1px solid #ddd;
      }
    }
  }

  .disabled {
    color: #ddd;
  }
}