@import "../variables";

#calendar {

  &, > main {
    height: 100%;
  }

  nav {

    background-color: #777; // #379c84;

    .today {
      > span {
        color: #ddd;
      }
      > a {
        color: #ffc02d;
        font-weight: bold;
        font-size: 20px;
      }
    }

    &.navbar {
      position: fixed;
    }
  }

  main {

    $border-color: #ddd;

    > table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      height: 100%;
    }

    tr {

      &:first-child {
        > td {
          border-top: 0;
        }
      }

      &:last-child {
        > td {
          border-bottom: 0;
        }
      }

      td {

        position: relative;
        display: table-cell;
        padding: 35px 10px 10px;
        width: (100 / 7) * 1%;

        border: 1px solid $border-color;
        background-color: #fbfbfb;

        .content {

          & + .content {
            margin: {
              top: 5px;
            }
          }

          .type {
            float: left;
            margin: {
              right: 4px;
              top: 2px;
            }
            font-size: 12px;
            padding: 0 5px 1px;
            border-radius: 3px;
            vertical-align: middle;
          }

          .title {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            white-space: nowrap;

            > span {
              transition: .1s ease color;
              cursor: pointer;
            }

            // 마우스 오버시 글씨 살짝 이동
            &:hover {
              > span {
                color: #d02121;
              }
            }
          }
        }

        // 일 숫자
        .num {
          position: absolute;
          top: 0;
          left: 0;
          padding: {
            top: 4px;
            left: 10px;
          }

          color: #d2d2d2;
          text-align: center;
          transition: .3s ease color;
          cursor: pointer;
          font-size: 14px;

          &:hover {
            color: #555;
          }
        }

        &.current {

          background-color: white;

          .num {
            font-size: 16px;
            color: #888;
            &:hover {
              color: #222;
            }
          }

          &:hover {
            background-color: #f6f8fd;
          }

          &.today {
            background-color: #e9f0f9 !important;
          }
        }

        // 일요일
        &.current:first-child {
          .num {
            font-weight: bold;
            color: #d00e0e;
          }
        }

        // 토요일
        &.current:last-child {
          .num {
            font-weight: bold;
            color: #1d95de;
          }
        }

        .content {
          .type {
            color: white;
            // 알림
            &.type-0 {
              background-color: #fd9418;
            }
            // 작업
            &.type-1 {
              background-color: #f51515;
            }
            // 메모
            &.type-2 {
              background-color: #42da0e;
            }
          }
        }

      }
      // td

      &:first-child {
        .calendar-cell {
          border-top: 0;
        }
      }
    }
  }

  #input-btn {
    background-color: darkred;
    &.on {
      background-color: #28a745;
    }
  }

  #input {
    &:focus {
      background-color: #34ce57;
    }
  }

  // ***************************************** 스크린 *****************************************
  #screen {
    position: fixed;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: -1;


    &:before {
      display: block;
      position: absolute;
      content: '';
      background-color: black;
      opacity: .85;
    }

    &, &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .content {

      position: relative;
      z-index: 1;
      padding: 35px;
      width: 40%;
      background-color: #f3f3f3;
      border-radius: 5px;

      opacity: 0;
      transform: translate(0, -50px);
      transition: .3s ease opacity, .3s ease transform;

      > div {
        & + div {
          margin-top: 15px;
        }
      }

      .ctrl {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .date {
        font-family: tahoma;
        font-weight: bold;
        font-size: 28px;
        color: #656565;
      }
      // 라디오버튼튼
      .types {

        label {
          float: left;
          padding: 5px 13px;
          border: 1px solid #c3c3c3;
          margin-left: -1px;
          color: #aaa;
          cursor: pointer;
          background-color: white;
        }

        input {
          display: none;

          & + label {
            display: none;
          }

          &:checked + label {
            display: block;
            color: #333;
            background-color: #e6e6e6;
          }
        }
      }

      input, textarea {

        width: 100%;
        padding: 10px 10px;
        border: 1px solid transparent;
        border-radius: 5px;

        &:focus {
          outline: 0;
        }

        &[disabled] {
          background-color: white;
        }
      }

      textarea {
        min-height: 200px;
      }
    }

    &.on {
      z-index: 1080;

      &, .content {
        opacity: 1;
      }
      .content {
        transform: translate(0, 0);
        transition-delay: .15s;
      }
    }

    // 수정/삭제 버튼
    .ctrl-btn {
      float: left;
      padding: 4px 8px;
      margin-left: -1px;

      border: 1px solid #ddd;
      background-color: white;
      font-size: 14px;
      cursor: pointer;
    }
    .submit, .cancel {
      display: none;
    }
    .submit {
      color: #ddd;
    }

    // 수정모드
    &.form {

      .submit, .cancel {
        display: block;
      }
      .modify, .remove {
        display: none;
      }

      &.isSubmit {
        .submit {
          color: #222;
          cursor: pointer;
        }
      }

      // 안 보였던 radio 버튼 모두 회복
      .types {
        input + label {
          display: block;
        }
      }
      input, textarea {
        border: 1px solid #ddd;
      }
    }
  }
}