@import "../mixins";
@import "variables";
// bootstrap@4.1.1 - scss
@import "../bagic-bootstrap";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "fonts";

a {
  color: inherit;
  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}

.ctrl {

  white-space: nowrap;

  > span {

    font-size: 12px;
    color: #abc2d7;
    cursor: pointer;

    &:hover {
      color: #5684ae;
    }
  }
}

textarea, select, input {
  &:focus {
    outline: 0 !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: {
    top: $nav-height;
  }

  color: #4c6175;
  letter-spacing: -.01em;
  background-color: $main-color-sm;

  &, pre, textarea {
    font-family: 'Roboto', 'Nanum Gothic';
    margin: 0;
  }
}

body {

  > nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1041;

    height: $nav-height;

    background-color: $main-color-lx;
    border-bottom: 1px solid darken($main-color-lx, 5%);

    a {
      color: #ccd9e6;
      &:hover, &:active {
        color: white;
      }
    }
    .brand {
      float: left;
      margin-top: .6rem;
      width: $aside-width;
      text-align: center;
      font-size: 1.2rem;
      font-family: 'Montserrat';
      font-weight: 500;
      color: white;
    }

    ul {
      float: right;
      margin: {
        right: 15px;
      }
      font-family: 'Montserrat';
      > li {
        float: left;
        color: white;
        & + li {
          margin-left: 25px;
        }
        > a {
          display: inline-block;
          margin-top: .8rem;
        }
      }
    }
  }

  #block {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: 1060;
  }

  .loading {
    display: none;
    position: fixed;
    left: -67px;
    top: -74px;

    > img {
      width: 200px;
      height: 200px;
    }
  }

  &.load {
    .loading, #block {
      display: block;
    }
  }
}

main {
  padding: 35px;

  > div {
    padding: 40px;
    border-radius: 10px;
    background-color: white;
  }
}


.page-title {
  padding: {
    bottom: 1px;
  }
  margin: {
    top: -20px;
  }

  font-size: 20px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #7c93aa;
  border-bottom: 1px solid #cddcec;
}
.check-btn {

  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;

  label + & {
    margin-left: 15px;
  }

  & + label {

    margin-top: .5rem;

    &, &:before {
      cursor: pointer;
    }

    &:before {
      display: inline-block;
      margin: {
        top: -1px;
        right: 5px;
      }
      width: 18px;
      height: 18px;
      content: '';
      vertical-align: middle;
      background-image: url(/img/check_btn_off.png);
    }
  }

  &:checked {
    & + label {
      &:before {
        background-image: url(/img/check_btn_on.png);
      }
    }
  }
}
