

#form {

  .form-row {
    padding: 30px 80px 30px 30px;
    margin-top: 35px;

    .form-group-title {
      padding-right: 45px;
      width: 180px;
      text-align: right;
      font-size: 24px;
      font-weight: bold;
      color: #a1bedb;
    }

    .col-form-label {
      color: #86abcf;
    }

    .form-container {
      flex: 1;
      border-left: 1px solid #bfd7ea;
      padding-left: 35px;
    }

    & + .form-row {
      border-top: 1px solid $main-color-xs;
    }
  }

  .btns {
    text-align: center;
    > input {
      padding: 10px 50px;
      background-color: white;
      border: 2px solid #bfd7ea;
      border-radius: 25px;
      color: #6789aa;
      transition: background-color .3s ease;
      cursor: pointer;

      &:hover {
        background-color: $main-color-xs;
      }
      & + input {
        margin-left: 25px;
      }
    }
  }

  .unit {
    position: relative;
    top: 7px;
    left: -20px;
  }
}

.date-table {
  padding: 20px;
  background-color: white;
  z-index: 1;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 9px #999;

  .prev, .next, td {
    cursor: pointer;
  }

  .sel {
    height: 30px;
    text-align: center;
    line-height: 30px;

    .prev, .next {
      font-size: 12px;
      color: seagreen;
    }
    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }

  table {

    width: auto !important;
    > thead, > tbody {
      > tr {
        > td, > th {
          text-align: center;
          font-weight: normal;
          vertical-align: middle;
          border: 1px solid #d0d0d0;
        }
      }
    }
    > thead {
      > tr {
        > th {
          font-size: 12px;
          background-color: #f1f1f1;
        }
      }
    }

    > tbody {
      > tr {
        > td {

          > span {
            display: block;
            width: 40px;
            height: 35px;
            line-height: 35px;
          }

          color: #ddd;

          &.current {
            color: #666;
          }

          &.today {
            color: #333;
          }
        }
      }
    }
  }
}