

// variables는 functions를 이용하므로 반드시 앞에 붙어있어야 한다.
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$aside-width: 300px;
$nav-height: 50px;

$main-color-lx: #42576b;
$main-color-md: #4c6175;
$main-color-sm: #eff2f5;
$main-color-xs: #eaf1f9;


$input-group-addon-bg: $main-color-xs;
$input-border-color: #bfd7ea;
$input-border-radius: 0;