
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  > tbody, > thead {
    > tr {
      > td, > th {
        padding: 5px 10px;
        border: 1px solid #ddd;
      }
    }
  }
}
main {
  table {
    > tbody {
      > tr {
        > td {
          > span {
            display: block;
          }
          > input {
            display: none;
            height: 25px;
            border: 1px solid #eee;
          }
        }
      }
    }

    &.form {
      > tbody {
        > tr {
          > td {
            > span {
              display: none;
            }
            > input {
              display: block;
            }
          }
        }
      }
    }
  }
}
