<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <title>Boosteel Audio</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/dist/boosteel/main.css">
    <!--<link rel="stylesheet" href="/dist/jinyeosoo/main.css">-->

    <script src="/lib/js/es6-promise.js"></script>
    <script src="/dist/boosteel/main.js"></script>

</head>
<body>


<nav class="navbar navbar-expand-md fixed-top screen-top">

    <a class="navbar-brand">
        <ul class="logo-group ani-graph">
            <li><img class="logo" src="/img/boosteel/boosteel-b.svg"></li>
            <li><img class="logo" src="/img/boosteel/boosteel-o.svg"></li>
            <li><img class="logo" src="/img/boosteel/boosteel-o2.svg"></li>
            <li><img class="logo" src="/img/boosteel/boosteel-s.svg"></li>
            <li><img class="logo" src="/img/boosteel/boosteel-t.svg"></li>
            <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
            <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
            <li>
                <div class="logo bar-0"></div>
            </li>
            <li>
                <div class="logo bar-1"></div>
            </li>
            <li>
                <div class="logo bar-2"></div>
            </li>
        </ul>
    </a>


    <div class="navbar-menu ml-auto" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active" data-url="intro">
                <a class="nav-link" href="#intro">Home</a>
                <span class="nav-link-bar"></span>
            </li>
            <li class="nav-item" data-url="contact">
                <a class="nav-link" href="#contact">Contact</a>
                <span class="nav-link-bar"></span>
            </li>
        </ul>
    </div>

    <button id="product-toggle" class="navbar-toggler">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <i></i>
    </button>

    <div id="products-menu">
        <div class="menu">

            <span class="menu-close">×</span>

            <div class="title">Boosteel Products...</div>

            <div class="container-fluid body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 product">
                        <p class="header">Cable Lift Line</p>
                        <ul>
                            <li data-url="products/cl600">
                                <a href="#products/cl600">CL-600</a>
                                <span class="explain">랙 전용 케이블 리프트.</span>
                            </li>
                            <li data-url="products/cl300">
                                <a href="#products/cl300">CL-300</a>
                                <span class="explain">벽체 파워케이블 리프트</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 product">
                        <p class="header">Accessory Line</p>
                        <ul>
                            <li data-url="products/cl600">
                                <a href="#products/cl600">LP-R</a>
                                <span class="explain">LP전용 디스플레이 거치대</span>
                            </li>
                            <li data-url="products/cl600">
                                <a href="#products/cl600">CD-R</a>
                                <span class="explain">CD 디스플레이</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 product">
                        <p class="header">Cable Lift Line</p>
                        <ul>
                            <li data-url="products/cl600">
                                <a href="#products/cl600">CL-600</a>
                                <span class="explain">케이블 리프트</span>
                            </li>
                            <li data-url="products/cl600">
                                <a href="#products/cl600">CL-300</a>
                                <span class="explain">케이블 리프트</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>


<main></main>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <ul class="logo-group">
                    <li><img class="logo" src="/img/boosteel/boosteel-b.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-o.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-o2.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-s.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-t.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
                    <li>
                        <div class="logo bar-0"></div>
                    </li>
                    <li>
                        <div class="logo bar-1"></div>
                    </li>
                    <li>
                        <div class="logo bar-2"></div>
                    </li>
                </ul>
                <span>boosteel.audio@gmail.com</span>
            </div>
            <div class="col-sm-12 col-xl-4">
                <p>
                    <b><i class="material-icons">location_on</i></b>
                    <span>경기도 수원시 권선구 산업로156번길 142-10 수원벤처밸리2 A동 B122호</span>
                </p>
                <p>
                    <b><i class="material-icons">phone</i></b>
                    <span>010-6570-8259</span>
                </p>
                <p>
                    <b><i class="material-icons">email</i></b>
                    <span>boosteel.sales@gmail.com</span>
                </p>
            </div>
            <div class="col-sm-12 col-xl-4">
                <p>
                    <b><i class="material-icons">location_on</i></b>
                    <span>경기도 수원시 권선구 산업로156번길 142-10 수원벤처밸리2 B동 B204호</span>
                </p>
                <p>
                    <b><i class="material-icons">phone</i></b>
                    <span>010-6350-1327</span>
                </p>
                <p>
                    <b><i class="material-icons">email</i></b>
                    <span>boosteel.lab@gmail.com</span>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>