@import "base";

#cl300 {

  .text {
    a {
      font-size: 30px;
      display: inline-block;
      height: 4rem;
      line-height: 3.4rem;
      padding: 0 30px;
      border: 3px solid #a9a9a9;
      border-radius: 2rem;
    }
  }

  .screen {
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }
  }

  .product-img {
    > img {
      height: 600px;
    }
  }
}

@include media-breakpoint-up(md) {
  #intro {
  }
}
