@import "../mixins";
@import "variables";
// bootstrap@4.1.1 - scss
@import "../bagic-bootstrap";
@import "main/aside";
@import "main/nav";
@import "main/file-icon";
@import "../utilities";
@import "./_component/file-upload";
@import "../lib/animation/fade-page";
@import "fonts";

a {
  color: inherit;
  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}

html {
  &, body, body > main, body > main > div {
    height: 100%;
  }
}

body {

  overflow-x: hidden;
  overflow-y: scroll;
  padding: {
    left: $aside-width-thumb;
  }

  letter-spacing: -.01em;
  background-color: #f5f5f5;

  &, pre, textarea {
    font-family: 'Roboto', 'Nanum Gothic';
    margin: 0;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $aside-width-thumb;
  z-index: 1048;

  background: {
    color: #222;
  }

  .screen & {
    z-index: 1;
  }

}

body {

  > nav, nav {
    position: fixed;
    top: 0;
    left: $aside-width-thumb;
    right: 0;
    z-index: 1041;

    height: $nav-height;

    background-color: #444;
    border-bottom: 1px solid #222;
  }

  > main {

    position: relative;

    nav {
      display: flex;
      align-items: center;
      z-index: 1042;

      padding: 0 1rem 0 15px;
      height: $nav-height;

      color: #bfbfbf;
    }

    > div, > nav {
      top: 0;
      right: 0;
      left: 0;
    }

    > div {

      display: none;
      position: absolute;
      z-index: 1042;

      &.page-in, &.page-out, &.on {
        display: block;
      }

      &.page-in {
        @extend %page-in;
        nav {
          left: 0; // fade 애니메이션시 위치 보정
        }
      }

      &.page-out {
        @extend %page-out;
      }

      // 각 모듈이 반환하는 엘리먼트
      > div {
        padding: {
          top: $nav-height;
        }
      }
    }
  }
}

/*

 모든 모듈은 ① .loading  ② .popup 엘리먼트를 가진다.
 ① .loading : 서버 통신시 사용
 ② .popup : 특정한 작업 사용

 */

main {

  .loading, .popup {

    display: none;
    z-index: 1043;
    padding: {
      left: $aside-width-thumb;
    }

    align-items: center;
    justify-content: center;

    &, &:before {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &:before {
      z-index: -1;
      opacity: .85;
      content: '';
      background-color: black;
    }

    &.on {
      display: flex;
    }
  }
}