@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "main/aside";
@import "main/nav";
@import "../lib/animation/fade-page";
@import "fonts";


a {
  color: inherit;
  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}

html {
  &, body, body > main, body > main > div {
    height: 100%;
  }
}


body {

  overflow-x: hidden;
  overflow-y: scroll;
  padding: {
    left: $aside-width-thumb;
  }

  letter-spacing: -.01em;
  background-color: #f5f5f5;

  &, pre, textarea {
    font-family: 'Roboto', 'Nanum Gothic';
    margin: 0;
  }
}


aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $aside-width-thumb;
  z-index: 1048;

  background: {
    color: #222;
  }
}

body {

  > nav, nav {
    position: fixed;
    top: 0;
    left: $aside-width-thumb;
    right: 0;
    z-index: 1041;

    height: $nav-height;

    background-color: #444;
    border-bottom: 1px solid #222;
  }

  > main {
    nav {
      display: flex;
      align-items: center;
      z-index: 1042;

      padding: 0 1rem 0 15px;
      height: $nav-height;

      color: #bfbfbf;
    }
  }


  > main {

    position: relative;

    &.load {
      //opacity: .4;
    }

    > div, > nav {
      top: 0;
      right: 0;
      left: 0;
    }

    > div {

      display: none;
      position: absolute;
      z-index: 1042;

      &.page-in, &.page-out, &.on {
        display: block;
      }

      &.page-in {
        @extend %page-in;
        nav {
          left: 0;  // fade 애니메이션시 위치 보정
        }
      }

      &.page-out {
        @extend %page-out;
      }

      // 각 모듈이 반환하는 엘리먼트
      > div {
        padding: {
          top: $nav-height;
        }
      }
    }
  }
}

// 수정폼 엘리먼트.
.d-form {
  & + * {
    display: none;
  }
}

.hide-input {
  display: none;
  .form & {
    display: block;
  }
}