@import "../variables";

// 접혔을때
aside {

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $aside-width-thumb;

  background-color: #333;
  transition: .3s ease width;

  .menu {
    list-style: none;
    padding: 0;

    > li {
      > a {
        display: block;
        padding: 10px 0;

        border-bottom: 1px solid black;
        color: #888;
        text-shadow: -1px -1px 1px black;
        text-align: center;
        > i {
          display: block;
          font-size: 38px;
        }
        &:hover {
          color: #eee;
          background-color: #1f1f1f;
        }
      }

      &.active {
        > a {
          color: #de9b1d;
          background-color: #1f1f1f;
        }
      }

      background-color: #232323;

      & + li {
        > a {
          border-top: 1px solid #2f2f2f;
        }
      }
    } // li
  }
}

// 열렸을때
aside:hover {
}