$list: ai,
img jpg gif bmp jpeg,
indd,
pdf,
ppt pptx pptm potx potm pot ppsx ppsm pps ppam ppa,
psd,
txt,
word,
xls xlsx xlsm xlsb xltx xltm xlt xls xml xlam xla xlw xlr,
zip ais arj cab gz hgx jas lzh pak psz rar sea tgz zool;

.icon-file {
  background: {
    position: center;
    size: contain;
    repeat: no-repeat;
    image: url('/img/icon/file/unknown.png')
  }

  @each $values in $list {

    $name: nth($values, 1);
    @each $v in $values {
      &.#{$v} {
        background-image: url('/img/icon/file/#{$name}.png');
      }
    }
  }
}
