<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>

    <link rel="stylesheet" href="/dist/calendar.css">
    <script src="/lib/js/es6-promise.js"></script>
    <script src="/dist/calendar.js"></script>


</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="today">
        <span>today</span>
        <a id="refresh-btn" href=""></a>
    </div>
    <div class="btn-group">
        <a id="date-prev" class="btn btn-light" href="">◀</a>
        <button id="date-current" class="btn btn-secondary"></button>
        <a id="date-next" class="btn btn-light" href="">▶</a>
    </div>
</nav>


<main class="table-type">
</main>

<div id="screen">

    <div id="content" class="content">

        <span id="ctrl" class="ctrl">
            <span class="cancel ctrl-btn" data-ctrl="cancel">취소</span>
            <span class="submit ctrl-btn" data-ctrl="submit">저장</span>
            <span class="modify ctrl-btn" data-ctrl="modify">수정</span>
            <span class="remove ctrl-btn" data-ctrl="remove">삭제</span>
        </span>

        <div id="datetime" class="date">2018-08-12</div>

        <div id="types" class="types"></div>
        <div class="title">
            <input class="title" name="title" id="title" value="울랄라 제목">
        </div>
        <div class="body">
            <textarea id="body"></textarea>
        </div>
        <div id="writeTime" class="write-time text-right">2018-08-12 12:33:22</div>
    </div>
</div>

</body>
</html>