<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Boosteel Audio</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/dist/boosteel.css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Boosteel Audio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
    </div>
</nav>
<main>

    <div id="main-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-top">
                        <!--<div class="static-bg left"></div>-->
                        <div class="static-bg right"></div>
                        <ul class="logo-group intro-ani ani-show ani-graph">
                            <li><img class="logo" src="/img/boosteel/boosteel-b.svg"></li>
                            <li><img class="logo" src="/img/boosteel/boosteel-o.svg"></li>
                            <li><img class="logo" src="/img/boosteel/boosteel-o2.svg"></li>
                            <li><img class="logo" src="/img/boosteel/boosteel-s.svg"></li>
                            <li><img class="logo" src="/img/boosteel/boosteel-t.svg"></li>
                            <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
                            <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
                            <li>
                                <div class="logo bar-0"></div>
                            </li>
                            <li>
                                <div class="logo bar-1"></div>
                            </li>
                            <li>
                                <div class="logo bar-2"></div>
                            </li>
                        </ul>
                        <div class="title">Ultimate Audio Accessory</div>
                        <p class="text">
                            Boosteel offers a variety of solutions to bring out the inherent performance of hi-fi equipment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <p class="contents">
                    <strong>Boost the HI-FI</strong>
                    <b><i class="material-icons">queue_music</i></b>
                    극한의 성능을 지향하는 현대 하이파이 장비는 이제 단순한 전자기기의 범주를 넘어 초정밀기기의 영역으로 진입하고 있습니다.
                    이러한 장비들은 주변 상황에 더욱 민감하게 반응하며, 보다 높은 수준의 사용자 경험을 요구하고 있습니다.
                    이에 따라 동일한 장비라도 사용자의 인스톨 능력에 따라 큰 성능차이를 보입니다.
                    부스틸은 하이파이 장비가 가지고 있는 본연의 성능을 끌어내기 위한 다양한 솔루션을 제시합니다.
                </p>
                <!--
                극한의 성능을 지향하는 현대 하이파이 장비는 이제 단순한 전자기기의 범주를 넘어 초정밀기기의 영역으로 진입하고 있습니다.
                    이러한 장비들은 주변 상황에 더욱 민감하게 반응하며, 보다 높은 수준의 사용자 경험을 요구하고 있습니다.
                    이에 따라 동일한 장비라도 사용자의 인스톨 능력에 따라 큰 성능차이를 보입니다.
                    부스틸은 하이파이 장비가 가지고 있는 본연의 성능을 끌어내기 위한 다양한 솔루션을 제시합니다.

                    Modern hi-fi equipment with extreme performance is now entering the realm of ultra-precision devices
                    beyond simple electronics.
                    These devices are more sensitive to ambient conditions and require a higher level of user
                    experience.
                    Therefore, even with the same equipment, there is a big difference in performance depending on the
                    user's ability to install.
                    Boosteel offers a variety of solutions to bring out the inherent performance of hi-fi equipment.
                -->
            </div>
            <div class="col-sm-6 col-lg-6">
                <p class="contents">
                    <strong>Accessory by Steel</strong>
                    <b><i class="material-icons">build</i></b>
                    부스틸은 전 제품을 직접 개발, 설계, 생산하고 있습니다. 모든 제품은 내구성과 심미성을 고려한
                    소재를 사용해 제작됩니다. 특히 전 제품이 모두 호환되도록 설계되어 있으며, 오디오파일의
                    환경과 취향에 따라 다양한 조합이 가능하도록 고안되어 있습니다. 이에 따라 하이파이 시스템에
                    부스틸 솔루션을 도입하기로 결정한 오디오파일은 보다 적극적으로 시스템 환경을 관리할 수 있습니다.
                </p>
                <!--
                부스틸은 전 제품을 직접 개발, 설계, 생산하고 있습니다. 모든 제품은 내구성과 심미성을 고려한
                    소재를 사용해 제작됩니다. 특히 전 제품이 모두 호환되도록 설계되어 있으며, 오디오파일의
                    환경과 취향에 따라 다양한 조합이 가능하도록 고안되어 있습니다. 이에 따라 하이파이 시스템에
                    부스틸 솔루션을 도입하기로 결정한 오디오파일은 보다 적극적으로 시스템 환경을 관리할 수 있습니다.

                    We develop, design and manufacture all products directly. All products are designed for durability
                    and aesthetics.
                    Made using materials. Especially, all products are designed to be compatible with each other.
                    It is designed to enable various combinations according to environment and taste. As a result,
                    Audiophile that you decide to introduce a voucher solution can more aggressively manage your system
                    environment.
                -->
            </div>
        </div>
    </div>

    <div class="main-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xl-4 text-center">
                    <img src="/img/boosteel/lift.png" height="400">
                </div>
                <div class="col-sm-12 col-xl-8">
                    <p>

                        <span class="title">Cable Lift Accessory</span>
                        <strong>CL-60</strong>
                        <span class="text">
                            하이파이 시스템에서 케이블은 신체의 혈관에 비유되곤 합니다.
                            각 컴포넌트를 하나의 시스템으로 잇는 주요한 접점이자 전기 및 신호를 주고받는 통로가 됩니다.
                            음질의 파인튜닝을 결정짓는 최후의 요소이지만, 동시에 많은 트러블을 유발시키는
                            시스템의 불안요소 중 하나로 지목됩니다. 케이블은 사운드가 재생되는 동안 지속적으로 진동에 노출되며
                            때때로 케이블의 중량에 의한 하중 스트레스로 컴포넌트 인입부의 변형을 야기합니다.
                            이러한 증상은 장시간에 걸쳐 서서히 누적되며 결국 사운드 품질에 악영향을 끼치게 됩니다.
                            CL-60은 케이블을 지지하는 신개념 악세사리로 시스템의 혈관을 바르게 정리하고
                            케이블과 컴포넌트가 받는 스트레스를 극도로 낮춰 시스템이 가진 본연의 사운드 품질을
                            발휘할 수 있게 해줍니다. <br />
                            특히 혼란스러운 시스템 후면을 질서정연하게 정돈함으로써 시스템의 시각적인 품격을
                            더욱 높여줍니다. <br /><br />
                            판매가격 : 1,480,000원
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <ul class="logo-group">
                    <li><img class="logo" src="/img/boosteel/boosteel-b.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-o.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-o2.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-s.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-t.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
                    <li><img class="logo" src="/img/boosteel/boosteel-e.svg"></li>
                    <li>
                        <div class="logo bar-0"></div>
                    </li>
                    <li>
                        <div class="logo bar-1"></div>
                    </li>
                    <li>
                        <div class="logo bar-2"></div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-xl-4">
                <p>
                    <b><i class="material-icons">location_on</i></b>
                    <span>경기도 수원시 권선구 산업로156번길 142-10 수원벤처밸리2 A동 B122호</span>
                </p>
                <p>
                    <b><i class="material-icons">phone</i></b>
                    <span>010-6570-8259</span>
                </p>
                <p>
                    <b><i class="material-icons">email</i></b>
                    <span>boosteel.audio@gmail.com</span>
                </p>
            </div>
            <div class="col-sm-12 col-xl-4">
                <p>
                    <b><i class="material-icons">location_on</i></b>
                    <span>경기도 수원시 권선구 산업로156번길 142-10 수원벤처밸리2 B동 B204호</span>
                </p>
                <p>
                    <b><i class="material-icons">phone</i></b>
                    <span>010-6350-1327</span>
                </p>
                <p>
                    <b><i class="material-icons">email</i></b>
                    <span>boosteel.lab@gmail.com</span>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>