<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript Test</title>

    <script src="../static/lib/js/es6-promise.js"></script>
    <script src="../static/dist/js-test.js"></script>

    <link rel="stylesheet" href="../static/dist/js-test.css">
    <link rel="stylesheet" href="../static/lib/style/bootstrap-submenu.min.css">


</head>
<body>

<button id="prev">이전</button><button id="next">이후</button>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item 0">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166a6447841%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166a6447841%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22217.7%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        </div>
        <div class="carousel-item active 1">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166a6447844%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166a6447844%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22247.3203125%22%20y%3D%22217.7%22%3ESecond%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        </div>
        <div class="carousel-item 2">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166a6447846%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166a6447846%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22217.7%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        </div>
    </div>
</div>

<form class="form">

    <div class="title">고객정보</div>
    <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">날짜</label>
        <div class="col-sm-2 dropdown">
            <input type="text" required class="form-control date" data-toggle="dropdown" name="date" id="date">
            <div class="date-table dropdown-menu"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">성명</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="birth" class="col-sm-2 col-form-label">생년월일</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="birth" id="birth">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">성별</label>
        <div class="col-sm-10">
            <input class="check-btn" type="radio" name="sex" value="0" id="female" checked>
            <label for="female">여성</label>
            <input class="check-btn" type="radio" name="sex" value="1" id="male">
            <label for="male">남성</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">결혼여부</label>
        <div class="col-sm-10">
            <input class="check-btn" type="radio" name="married" value="0" id="single" checked>
            <label for="single">미혼</label>
            <input class="check-btn" type="radio" name="married" value="1" id="double">
            <label for="double">기혼</label>
        </div>
    </div>
    <div class="form-group row">
        <label for="job" class="col-sm-2 col-form-label">직업</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="job" id="job" value="디자이너">
        </div>
    </div>
    <div class="form-group row">
        <label for="mobile1" class="col-sm-2 col-form-label">휴대전화</label>
        <div class="form-group row">
            <label for="mobile1" class="col-sm-2 col-form-label">휴대전화</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="mobile" id="mobile1" data-index="0" onautocomplete="false">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="mobile" id="mobile2" data-index="1" onautocomplete="false">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="mobile" id="mobile3" data-index="2" onautocomplete="false">
            </div>

        </div>
    </div>
    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">주소</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="address" id="address">
        </div>
    </div>

    <div class="title">관리정보</div>
    <div class="form-group row">
        <label for="tall" class="col-sm-2 col-form-label">신장</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="tall" id="tall">
        </div>
        <div class="col-sm-2">
            <span>Cm</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="weight" class="col-sm-2 col-form-label">몸무게</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="weight" id="weight">
        </div>
        <div class="col-sm-2">
            <span>Kg</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">혈액형</label>
        <div class="col-sm-10">
            <input class="check-btn" type="radio" name="blood" value="A" id="a" checked>
            <label for="a">A형</label>
            <input class="check-btn" type="radio" name="blood" value="B" id="b">
            <label for="b">B형</label>
            <input class="check-btn" type="radio" name="blood" value="O" id="o">
            <label for="o">O형</label>
            <input class="check-btn" type="radio" name="blood" value="AB" id="ab">
            <label for="ab">AB형</label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">피부상태</label>
        <div class="col-sm-10">
            <input class="check-btn" type="radio" name="skin" value="0" id="skin-1" checked>
            <label for="skin-1">건성</label>
            <input class="check-btn" type="radio" name="skin" value="1" id="skin-2">
            <label for="skin-2">중성</label>
            <input class="check-btn" type="radio" name="skin" value="2" id="skin-3">
            <label for="skin-3">지성</label>
            <input class="check-btn" type="radio" name="skin" value="3" id="skin-4">
            <label for="skin-4">복합성</label>
            <input class="check-btn" type="radio" name="skin" value="4" id="skin-5">
            <label for="skin-5">민감성</label>
            <input class="check-btn" type="radio" name="skin" value="5" id="skin-6">
            <label for="skin-6">기타</label>
        </div>
    </div>
    <div class="form-group row">
        <label for="operation" class="col-sm-2 col-form-label">수술부위</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="operation" id="operation">
        </div>
    </div>
</form>

</body>
</html>