<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript Test</title>
    <script src="../static/dist/js-test.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/lib/style/bootstrap-submenu.min.css">

    <style>
        ul, div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 35px 0;
            list-style: none;

            background-color: #f8f8f8;
        }

        li {
            padding: 20px;
            border: 1px solid #999;
            height: 50px;
        }

        li:first-child {
            height: 100px;
        }
    </style>
</head>
<body>

<ul>
    <li>
        <span>Magic A</span>
        <span>Magic B</span>
        <span>Magic C</span>
        <span>Magic D</span>
    </li>
    <li>
        <span>Magic 1</span>
        <span>Magic 2</span>
        <span>Magic 3</span>
        <span>Magic 4</span>
    </li>
</ul>

<div>
    <span>A1</span>
    <span style="font-size: 30px;">A2</span>
    <i>i</i>
    <button>button</button>
</div>

</body>
</html>