<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>네이버카페 검색</title>

    <link rel="stylesheet" href="/dist/audiobay.css">
    <script src="/lib/js/es6-promise.js"></script>
    <script src="/dist/navercafe.js"></script>

    <script id="data-template" type="text/html">
        <div class="col-3">
            <div class="header">
                <a class="name" href="" target="_blank"></a>
            </div>
            <ul class="data"></ul>
        </div>
    </script>
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">장터검색</a>
    <span class="time-count"></span>
</nav>

<div class="container-fluid">
    <div class="row">
    </div>
</div>

</body>
</html>