<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print Test</title>
    <link rel="stylesheet" href="../static/dist/print.css">
</head>


<body>
<img src="../static/img/dot-black.jpg">
<div class="table-container">

    <div class="table-half"></div>


    <div class="table-half this-info">
        <div class="title">
            공<br />급<br />자
        </div>
        <div class="body">
            <div class="line">
                <div class="title">등록번호</div>
                <div class="value"></div>
            </div>
            <div class="line">
                <div class="title">상호</div>
                <div class="value">한컴기획</div>
                <div class="title">대표자</div>
                <div class="value">고정철</div>
            </div>
            <div class="line">
                <div class="title">소재지</div>
                <div class="value">경기도 수원시 권선구 산업로156번길 142-10 수원벤처밸리2 A동 B122호</div>
            </div>
            <div class="line">
                <div class="title">업태</div>
                <div class="value">서비스</div>
                <div class="title">종목</div>
                <div class="value">광고, 기획, 인쇄</div>
            </div>
        </div>
    </div>
</div>


<table width="609">
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" rowspan="2"></td>
    </tr>
    <tr>
        <td rowspan="3"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="2"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
