<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>진여수</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/dist/jinyeosoo/main.css">


    <script src="/lib/js/es6-promise.js"></script>
    <script src="/dist/jinyeosoo/main.js"></script>

</head>
<body class="whole">

<nav>
    <a class="brand" href="/jinyeosoo">Jinyeosoo ADMIN</a>
    <ul>
        <li><a href="#intro">Home</a></li>
        <li><a href="#customers">고객리스트</a></li>
        <li><a href="#search">고객검색</a></li>
        <li><a href="#register">신규등록</a></li>
        <li><a href="#cal">예약일정</a></li>
    </ul>
    <div class="loading"><img src="/img/loading-white.gif"></div>
</nav>

<aside>
    <div id="profile" class="profile">
        <div class="circle">
            <span data-name="$skin"></span>
            <span data-name="$sex"></span>
            <span data-name="old"></span>
        </div>
        <div class="name" data-name="name"></div>
        <div class="datetime">
            <i>등록일</i>
            <span class="datetime" data-name="datetime" data-type="date:yyyy-MM-dd(E) HH:mm"></span>
        </div>


    </div>

    <ul class="menu">
        <li>
            <a href="#" data-event="move" data-value="url:customer"><i class="material-icons">account_box</i>정보수정</a>
        </li>
        <li>
            <a href="#" data-event="move" data-value="url:managing"><i class="material-icons">date_range</i>관리내역</a>
        </li>
        <li>
            <a href="#" data-event="move" data-value="url:account"><i class="material-icons">shopping_basket</i>결제정보</a>
        </li>
        <li>
            <a href="#" data-event="move" data-value="url:gallery"><i class="material-icons">perm_media</i>사진관리</a>
        </li>
    </ul>
</aside>

<main></main>

<div id="block"></div>


<!-- 보안 -->
<div id="module-block">
    <div class="box">
        <img src="/img/jinyeosoo/logo-white.png">
        <div class="text">프로그램 시작 중...</div>
        <div class="gauge">
            <div class="p-bar"></div>
        </div>
    </div>
</div>


</body>
</html>