<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>진여수</title>

    <script src="/lib/js/es6-promise.js"></script>
    <script src="/dist/jinyeosoo/page.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/dist/jinyeosoo/page.css">
</head>
<body>

<nav>
    <a class="brand" href="#">Jinyeosoo ADMIN</a>
</nav>

<aside></aside>

<main>
    <div class="form">

        <div class="title">고객정보</div>
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">날짜</label>
            <div class="col-sm-2 dropdown">
                <input type="text" class="form-control date" data-toggle="dropdown" name="date" id="date">
                <div class="date-table dropdown-menu"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">성명</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="birth" class="col-sm-2 col-form-label">생년월일</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="birth" id="birth">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">성별</label>
            <div class="col-sm-10">
                <input class="check-btn" type="radio" name="sex" value="0" id="female">
                <label for="female">여성</label>
                <input class="check-btn" type="radio" name="sex" value="1" id="male">
                <label for="male">남성</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">결혼여부</label>
            <div class="col-sm-10">
                <input class="check-btn" type="radio" name="married" value="0" id="single">
                <label for="single">미혼</label>
                <input class="check-btn" type="radio" name="married" value="1" id="double">
                <label for="double">기혼</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="job" class="col-sm-2 col-form-label">직업</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="job" id="job">
            </div>
        </div>
        <div class="form-group row">
            <label for="mobile" class="col-sm-2 col-form-label">휴대전화</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="mobile" id="mobile">
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">주소</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="address" id="address">
            </div>
        </div>

        <div class="title">관리정보</div>
        <div class="form-group row">
            <label for="tall" class="col-sm-2 col-form-label">신장</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="tall" id="tall">
            </div>
            <div class="col-sm-2">
                <span>Cm</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="weight" class="col-sm-2 col-form-label">몸무게</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="weight" id="weight">
            </div>
            <div class="col-sm-2">
               <span>Kg</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">혈액형</label>
            <div class="col-sm-10">
                <input class="check-btn" type="radio" name="blood" value="A" id="a">
                <label for="a">A형</label>
                <input class="check-btn" type="radio" name="blood" value="B" id="b">
                <label for="b">B형</label>
                <input class="check-btn" type="radio" name="blood" value="O" id="o">
                <label for="o">A형</label>
                <input class="check-btn" type="radio" name="blood" value="AB" id="ab">
                <label for="ab">B형</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">피부상태</label>
            <div class="col-sm-10">
                <input class="check-btn" type="radio" name="blood" value="0" id="skin-1">
                <label for="skin-1">건성</label>
                <input class="check-btn" type="radio" name="blood" value="1" id="skin-2">
                <label for="skin-2">중성</label>
                <input class="check-btn" type="radio" name="blood" value="2" id="skin-3">
                <label for="skin-3">지성</label>
                <input class="check-btn" type="radio" name="blood" value="3" id="skin-4">
                <label for="skin-4">복합성</label>
                <input class="check-btn" type="radio" name="blood" value="4" id="skin-5">
                <label for="skin-5">민감성</label>
                <input class="check-btn" type="radio" name="blood" value="5" id="skin-6">
                <label for="skin-6">기타</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="operation" class="col-sm-2 col-form-label">수술부위</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="operation" id="operation">
            </div>
        </div>
    </div>
</main>

</body>
</html>