

<script id="table" type="text/html">
    <table>
        <tbody>
        <tr :tr>
            <td class="{{className}}" ::td>
                <span class="num" data-event="view">{{num}}</span>
                <div class="contents" id="date-{{isodate}}">
                    <div class="content" ::contents>
                        <div class="type type-{{type}}">{{typeName}}</div>
                        <div class="title">
                            <span data-event="view" data-handler-value="{{id}}">{{title}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</script>


<nav>
    <div class="today">
        <span>today</span>
        <span id="refresh-btn"></span>
    </div>
    <div class="btn-group">
        <span data-move="-1" class="btn btn-light">◀</span>
        <button id="date-current" class="btn btn-secondary"></button>
        <span data-move="1" class="btn btn-light">▶</span>
    </div>
</nav>

<main></main>

<div id="screen">

    <div id="content" class="content">

        <span id="ctrl" class="ctrl">
            <span class="cancel ctrl-btn" data-ctrl="cancel">취소</span>
            <span class="submit ctrl-btn" data-ctrl="submit">저장</span>
            <span class="modify ctrl-btn" data-ctrl="modify">수정</span>
            <span class="remove ctrl-btn" data-ctrl="remove">삭제</span>
        </span>

        <div id="datetime" class="date">2018-08-12</div>

        <div id="types" class="types"></div>
        <div class="title">
            <input class="title" name="title" id="title">
        </div>
        <div class="body">
            <textarea id="body"></textarea>
        </div>
        <div id="writeTime" class="write-time text-right">2018-08-12 12:33:22</div>
    </div>
</div>

