
<nav>
    <span class="title">정렬</span>
    <div class="sort">
        <span>
            <i class="material-icons">date_range</i>
            <span>입력일순</span>
        </span>
        <span>
            <i class="material-icons">speaker_notes</i>
            <span>제목순</span>
        </span>
        <span>
            <i class="material-icons">attach_money</i>
            <span>금액순</span>
        </span>
    </div>

    <div class="navbar-form">
        <div class="input-group">
            <input class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="material-icons">search</i></span>
            </div>
        </div>
    </div>
</nav>

<div id="total-info">

    <div class="navi">


    </div>

    <ul class="numbers">
        <li>
            <i>작업대기</i>
            <b>18</b>
            <span>22,182,700</span>
        </li>
        <li>
            <i>시안검토</i>
            <b>130</b>
            <span>55,694,100</span>
        </li>
        <li>
            <i>시안완료</i>
            <b>0</b>
            <span>0</span>
        </li>
        <li>
            <i>제작중</i>
            <b>0</b>
            <span>1,348,000</span>
        </li>
        <li>
            <i>입고</i>
            <b>5</b>
            <span>76,500</span>
        </li>
        <li>
            <i>납품</i>
            <b>60</b>
            <span>15,064,200</span>
        </li>
        <li>
            <i>거래완료</i>
            <b>8,421</b>
            <span>480,541,638</span>
        </li>
    </ul>
</div>

