

footer {

  padding-bottom: 2rem;
  border-top: 1px solid $nav-border-color;
  background-color: $nav-bg-color;
  color: #7b7b7b;

  .row {

    > div {

      padding-top: 2rem;
      margin-top: 2rem;
      border-top: 1px solid #383838;

      &:first-child {
        border: {
          top: 0;
        }
        text-align: center;
      }
    }
  }

  p {

    @extend .d-flex;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      @extend .d-flex;
      @extend .align-items-center;
    }

    b {

      @extend .flex-shrink-0;

      display: block;
      padding-top: 3px;
      width: 30px;
      height: 30px;

      background-color: #5d5b5b;
      border-radius: 50%;
      color: #232323;
      text-align: center;
      margin-right: 7px;
    }
  }
}




@include media-breakpoint-up(md) {

  footer {
    .row {
      > div {

        &:first-child {
          text-align: left;
          border-left: 0;
        }

        padding-top: 0;
        border: {
          top: 0;
          bottom: 0;
          left: 1px solid #383838;
        }
      }
    }
  }
}
