.logo-group {

  padding: 0;
  margin: 0;
  letter-spacing: -.15em;

  &, li {
    list-style: none;
  }

  li {
    &, > div, > img {
      position: relative;
      display: inline-block;
      vertical-align: baseline;
    }

    > div {
      background-color: white;
    }

    $value: 1.260em 1.694em,
    1.260em 1.283em,
    1.624em 1.624em,
    1.260em 1.281em,
    0.860em 1.694em,
    1.260em 1.262em,
    1.260em 1.262em,
    0.428em 1.694em,
    0.428em 0.909em,
    0.428em 0.495em;

    @for $i from 1 through length($value) {
      $v: nth($value, $i);

      &:nth-child(#{$i}) {
        > img, > div {
          width: nth($v, 1);
          height: nth($v, 2);
        }
      }
    }

    &:nth-child(3) {
      z-index: 1;
      > img {
        top: .18em;
      }
    }
  }

  &.ani-show {

    li {
      // 재생버튼 액션
      &:nth-child(3) {
        z-index: 1;
        animation: rotate-scale-up .85s linear both;
        animation-delay: .15s;
      }

      // 애니메이션
      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          opacity: 0;
          animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1.05s;
        }
      }

      @for $i from 4 through 11 {
        &:nth-child(#{$i}) {
          opacity: 0;
          animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1.05s;
        }
      }
    }
  }

  &.ani-graph {
    li {

      &:nth-child(3) {
        > img {
          animation: rotate-scale 2s 2s infinite alternate;
        }
      }
      &:nth-child(9) {
        > div {
          animation: slide-line-1 .5s 2s infinite alternate;
        }
      }
      &:nth-child(10) {
        > div {
          animation: slide-line-2 .2s 1.8s infinite alternate;
        }
      }
    }
  }
}




// 재생버튼 돌기
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);

  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);

  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-line-1 {
  100% {
    height: .45em;
  }
}

@keyframes slide-line-2 {
  100% {
    height: .33em;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}

@keyframes slide-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-line {
  0% {
    width: 0;
  }
  100% {
    width: 54%;
  }
}