
nav {
  $time: .3s;
  position: fixed !important;

  background-color: $nav-bg-color;
  border-bottom: 1px solid $nav-border-color;
  transition: margin $time ease, background-color $time ease, border-bottom-color $time ease;

  .navbar-brand {
    font-size: .7rem;
    padding-bottom: 0;
    opacity: .7;
  }


  .navbar-nav {
    flex-direction: row;  // 부트스트랩 설정 변경

    .nav-link {
      padding: {
        left: .3rem;
        right: .3rem;
      }
      color: #848484;
      transition: color .3s ease;
    }
  }



  .nav-item {
    &:hover .nav-link {
      color: #b1b1b1;
    }
    &.active .nav-link {
      color: #e2e2e2;
    }
  }
}

// 토글바
.navbar-toggler {

  height: 40px;
  width: 56px;
  border: 1px solid #4c4c4c;

  .bar {
    display: block;
    height: 2px;
    margin-top: 6px;
    background-color: #888;
    border-radius: 1px;

    &:first-child {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-md {

    .navbar-nav {
      .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
    // 스크롤링시
    &.screen-top {
      margin: 1rem 2rem 0;
      background-color: transparent;
      border-bottom: 1px solid #4a4a4a;
    }
  }

  nav {
    .nav-link {
      border-top: 0;
    }
  }
  .nav-link-bar {
    display: block;
    position: relative;
    top: -8px;
    width: 0%;
    height: 1px;
    margin: 0 auto;
    background-color: #717171;

    transition: width .3s ease;

    .nav-item:hover & {
      width: 70%;
    }
    .nav-item.active & {
      width: 80%;
      background-color: $nav-active-color;
    }
  }

}
