$radius: 0px;

#product-toggle {

  display: block;
  position: relative;
  margin-left: 1rem;
  height: 40px;
  width: 56px;
  border: 1px solid #4c4c4c;

  &:focus {
    outline: 0;
  }

  .bar {
    display: block;
    height: 2px;
    margin-top: 6px;
    background-color: #888;
    border-radius: 1px;

    &:first-child {
      margin-top: 0;
    }
  }

  > i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -24px;
    margin-left: -20px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #273e46;
    border-left: 20px solid transparent;
  }
  &.active {
    > i {
      display: block;
    }
  }
}

#products-menu {

  $bg-color: #3b5158;
  $title-bg-color: #273e46;
  $category-color: #68919e;
  $category-border-color: #475f67;

  $explain-active-color: #9ed5e6;
  $explain-color: #5c7982;

  $a-color: #86abb7;
  $a-hover-color: white;

  display: none;
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $bg-color;

  //transition: height .3s ease;

  .menu {
    position: relative;
  }

  .menu-close {
    position: absolute;
    top: .7rem;
    right: 1rem;
    padding: .3rem;
    width: 36px;
    height: 36px;

    font-size: 24px;
    cursor: pointer;
    border: 1px solid;
    text-align: center;
    line-height: 20px;
    color: #68919e;
  }

  .title {
    padding: 1rem;
    font-size: 1.2rem;
    text-indent: 11px;
    font-weight: bold;
    letter-spacing: -.04rem;
    color: #bed8e0;
    background-color: $title-bg-color;
  }

  .body {
    padding: 0 1rem 2rem;
  }

  .product {

    margin-top: 2rem;

    transition-delay: .2s;
    transition: opacity .5s ease, transform .5s ease;
    opacity: 0;
    transform: translate(0, -30px);

    & {
      color: $category-color;
    }

    a {
      color: $a-color;
      transition: color .2s ease;
      &:hover {
        color: $a-hover-color;
      }
    }

    p {
      margin-bottom: .5rem;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid $category-border-color;
    }

    .explain {
      display: inline-block;
      margin-left: 8px;
      color: $explain-color;
    }

    ul {
      padding-left: 10px;
      margin: 0;
      &, li {
        overflow: hidden;
        text-overflow: ellipsis;
        list-style: none;

        white-space: nowrap;
      }

      li {
        &.active {
          a {
            color: $a-hover-color;
          }
          .explain {
            color: $explain-active-color;
          }
        }
      }
    }
  }

  &.on {
    display: block;

    .product {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@include media-breakpoint-up(md) {

  #product-toggle {
    margin-left: 0;
  }

  #products-menu {
    .menu {
    }

    .title {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    .body {
      padding: 0 2rem 2rem;
    }

    a {
      font-size: 20px;
    }
  }
}
