
.slide-down {
  transition: transform .3s ease, opacity .35s ease;

  opacity: 0;
  transform: translate(0, -20px);

  .load-action & {
    opacity: 1;
    transform: translate(0, 0);
  }
}



.screen {

  .text {

    padding-top: 80px;
    color: darkgrey;

    .title {
      margin-bottom: .8em;
      color: #84a644;
      line-height: 2.5rem;
    }

    .h4 {
      margin-bottom: .4em;
      line-height: 1.35em;
      color: #d6d6d6;
    }
  }

  .screen-img {
    margin-top: 1.5rem;
  }
}

@include media-breakpoint-up(md) {

  .screen {

    .text, .screen-img {
      height: 100vh;
    }

    .text {
      padding: 140px 0 0 85px;
      .headline {
        font-size: 3rem;
      }
    }

    .screen-img {
      margin-top: 0;
    }
  }
}
