<div id="search">

    <div class="page-title">고객 검색</div>

    <div class="search-box">
        <div class="search-input">
            <input>
        </div>
        <div class="search-result">
            <table>
                <thead>
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>휴대전화</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>