<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>VideoDownloader</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/dist/secret/local-files.css">

    <script type="text/html" id="localFiles-template">
        <div class="media-container">
            <div class="media-header">
                <span class="title" title></span>
                <span class="rotate" data-media-click="rotate" rotate></span>
            </div>
            <div class="media-body" media-content></div>
        </div>
    </script>
</head>
<body browser>


<nav class="navbar navbar-expand-lg"></nav>

<aside></aside>

<main>
    <div class="container-fluid">
        <div media-list class="row">
        </div>
    </div>
</main>

<screen></screen>


</body>
</html>